/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

/* Navbar styles */
.navbar {
  /* Add styles for navbar */
  background-color:rgb(65, 64, 64);
  display: flex;
  padding: 20px;
  
  justify-content: space-between;
  color: azure;
  align-items: center;
  
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  padding-left: 60px;
  
  
}

.logo img {
  /* Add styles for logo image */
  border-radius: 50%;
}

.nav-links a {
  /* Add styles for nav links */
  
  color: azure;
  padding: 30px;
  /* margin-bottom: 20px; */
  text-decoration: none;
}

.nav-links a:hover {
  /* Add hover styles for nav links */
  font-size: larger;
  border-radius: 30%;
}

/* Hero section styles */
.hero {
  /* Add styles for hero section */
  text-align: center;
  
  background:rgba(7, 0, 0, 0.6)url(./assets/chaigym.png);
  color: rgb(253, 245, 245);
  padding: 40px;
  background-blend-mode: darken;
  /* background-image: ; */
  background-repeat: no-repeat;
  background-size:cover;
  /* width: 100vw; */
  background-position:center;
  /* z-index: -1; */
  
}

.hero-content {
  /* Add styles for hero content */
  text-shadow: 2px 2px 4px rgba(12, 11, 11, 0.5);
  /* z-index: 1; */
}

.hero-content h1 {
  /* Add styles for hero heading */
  font-size: 50px;
  
}

.hero-content p {
  /* Add styles for hero paragraph */
  font-size:15px;
  
}

.cta-button {
  /* Add styles for CTA button */
  background-color: orange;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  margin: 30px;
  cursor: pointer;
}

.cta-button:hover {
  /* Add hover styles for CTA button */
  background-color:rgb(248, 247, 241);
  
}

/* Features section styles */
.features {
  /* Add styles for features section */
  display: flex;
  justify-content: space-around;
  /* border: 2px solid orange; */
  border-radius: 30px;
  margin: 5px;
  padding: 30px 10px;
  background-color:rgba(8, 8, 8, 0.9);
  
  
}

.feature {
  /* Add styles for each feature block */
  border: 2px solid orange;
  width: 300px;
  border-radius: 20px;
  padding: 20px;
}

.feature h3 {
  /* Add styles for feature heading */
  color: orange;
}


